@import url("../components/list-products.css");
@import url("../components/pagination.css");
@import url("../components/breadcrumb.css");

h1,
p {
    margin-bottom: 1rem;
    text-align: center;
}

.panel.alert {
    background: #e5d8d8;
    border: 1px solid #b34c51 !important;
    color: #b34c51;
    padding: 0.5rem;
    margin: 1.7rem;
    text-align: center;
    width: auto;
}

button.btn-whatsapp {
    background: #25d366;
    color: #fff;
    border: none;
    font-weight: bold;
    padding: 7px;
    font-size: 1rem;
    border-radius: 2px;
    cursor: pointer;
}
