/* LIST-PRODUCTS */

.products {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    margin: 0 auto;
    padding: 15px;
}

.product-item {
    position: relative;
    flex-basis: calc(25% - 11.25px);
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.product-item a {
    text-decoration: none;
    color: #000;
    text-align: center;
}

.product-item a:hover {
    text-decoration: underline;
    color: #000;
}

.product-item img {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.product-item .price-off {
    position: absolute;
    padding-top: 7px;
    padding-right: 0;
    right: 30px;
    top: 15px;
    width: 45px;
    height: 45px;
    border-radius: 35px;
    color: #fff;
    text-align: center;
    background-color: #c5168d;
    font-weight: 700;
    font-size: 12px;
    line-height: 13px;
}

.product-item .desc {
    font-size: 1.2rem;
}

.product-item .cash-old-price {
    color: #55565b;
    text-decoration-color: #55565b;
    font-size: 13px;
    text-decoration: line-through;
    padding: 0;
    margin: 0;
}

.product-item .cash-price {
    color: var(--primary-color);
    font-weight: 700;
    padding: 0;
    margin: 0;
}

@media (min-width: 600px) {
    .products {
        flex-direction: row;
        justify-content: space-between;
    }
    .product-item {
        flex-basis: calc(50% - 11.25px);
    }
}

@media (min-width: 992px) {
    .product-item {
        flex-basis: calc(25% - 11.25px);
    }
}
