#rate {
    position: relative;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

#rate form {
    margin: 0;
}

#rate #btn-write-comment {
    background: none;
    border: none;
    cursor: pointer;
}

.make-comment {
    position: relative;
}

.make-comment #write-comment {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.make-comment .write-comment-content {
    background-color: #fefefe;
    color: #000;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.write-comment-content .modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.write-comment-content .modal-close:hover,
.write-comment-content .modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#response-comment {
    margin-top: 1rem;
}
