/* FONTS */
@font-face {
    font-family: "AvenirNextLTPro-BoldCnIt";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/AvenirNextLTPro-BoldCnIt.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "AvenirNextLTPro-Cn";
    font-style: normal;
    font-weight: normal;
    src: url("..//fonts/AvenirNextLTPro-Cn.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "MyriadPro-Semibold";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/MyriadPro-Semibold.otf") format("otf");
    font-display: swap;
}
