/* GLOBAL */
body {
    background-color: var(--background);
    font-family: AvenirNextLTPro-Cn, sans-serif;
    font-size: 1rem;
}

h1 {
    color: var(--primary-color);
    font-size: 1.4rem;
    text-align: center;
}

a {
    color: var(--primary-color);
}

ul li {
    list-style: none;
}

.container {
    margin: 2rem 1rem;
    position: relative;
}

form {
    max-width: 400px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="search"],
input[type="number"],
input[type="email"],
textarea {
    border: 1px solid #ccc;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    padding: 0.5rem;
    font-size: 1rem;
}

input[type="submit"] {
    background: var(--secondary-color);
    color: #fff;
    border: none;
    font-weight: bold;
    padding: 7px;
    font-size: 1rem;
    border-radius: 2px;
    cursor: pointer;
}

input.is-invalid,
textarea.is-invalid {
    border: 1px solid #ff0000;
}

.alert-danger {
    color: #ff0000;
    text-align: left;
}

.alert-success {
    color: #2e8b57;
    text-align: left;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
}
