/* Header */
div#info {
    display: none;
}

header ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

/* TOP Mobile */
.top-mobile {
    background: var(--secondary-color);
    color: var(--background);
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.top-mobile a {
    color: var(--background);
    text-decoration: none;
    font-size: 1rem;
}

.top-mobile button {
    border: 1px solid var(--background);
    color: var(--background);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: none;
    padding: 0.5rem;
    width: 100px;
}

.top-mobile button[type="submit"] {
    border: none;
}

.top-mobile ul {
    background: var(--ternary-color);
    color: var(--background);
    display: none;
    position: absolute;
    top: 6%;
    left: 5px;
}

.top-mobile ul li {
    display: block;
    padding: 0 1rem;
}

.top-mobile ul li:active {
    background: var(--secondary-color);
}

header #header-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin-top: 1rem;
}

header #header-2 .search-bag-user {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
}

/* Search */
header #header-2 .search {
    width: 90%;
    text-align: center;
}

header #header-2 .search form {
    display: flex;
    width: 90%;
    flex-direction: row;
    gap: 0;
    max-width: none;
}

header #header-2 .search input[type="search"] {
    width: 100%;
    display: inline;
    vertical-align: top;
}

header #header-2 .search button {
    background: 0 0;
    border: 1px solid #ccc;
    color: var(--primary-color);
    font-size: 1.125rem;
    margin-left: 2px;
    padding: 0.4rem;
    cursor: pointer;
    width: 1.9rem;
}

#header-2 .search button,
#header-2 .search input[type="search"] {
    height: 2.7rem;
}

header #header-2 .bag {
    position: relative;
    text-align: right;
    display: flex;
    justify-content: end;
    gap: 0.5rem;
    color: var(--secondary-color);
}

header #header-2 .bag i {
    color: var(--secondary-color);
    font-size: 2rem;
    cursor: pointer;
}

/* BAG */
header #header-2 .bag #btn-mini-cart {
    position: relative;
}

header #header-2 .bag #btn-mini-cart #total-items-cart {
    position: absolute;
    padding-top: 7px;
    padding-right: 0;
    right: -10px;
    top: -4px;
    width: 20px;
    height: 20px;
    border-radius: 35px;
    color: #fff;
    text-align: center;
    background-color: var(--primary-color);
    font-weight: 700;
    font-size: 10px;
    line-height: 8px;
}

header #header-2 .bag #div-mini-cart {
    position: absolute;
    display: none;
    overflow: hidden;
    transition:
        max-height 1000ms ease-in-out,
        opacity 300ms ease;
    max-height: 0;
    opacity: 0;
    font-size: 95%;
    background: #fff;
    right: 0px;
    top: 30px;
    z-index: 100;
    margin: 0 auto;
    width: 20rem;
    text-align: center;
}

header #header-2 .bag #div-mini-cart.is-visible {
    display: block;
    max-height: 800px;
    opacity: 1;
    border: 1px solid #ccc;
    padding: 1rem;
}

header #header-2 .bag #div-mini-cart .cart-products {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;
    background-color: #fff;
}

header
    #header-2
    .bag
    #div-mini-cart
    .cart-products
    button.btn-delete-product-bag {
    background: none;
    border: none;
    cursor: pointer;
}

header #header-2 .bag #div-mini-cart hr {
    margin-bottom: 10px;
}

header .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header .cart-item img {
    width: 80px;
}

header .cart-item .cart-item-buttons i {
    font-size: 1rem !important;
}

#menu-dropdown-user button {
    background: none;
    border: none;
}

#menu-dropdown-user ul {
    position: absolute;
    display: none;
    background: var(--ternary-color);
    transform: translateX(-50%);
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

#menu-dropdown-user ul::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--ternary-color) transparent;
}

#menu-dropdown-user ul li {
    text-align: left;
    display: block;
    padding: 10px;
}

#menu-dropdown-user ul li a,
#menu-dropdown-user ul li button {
    text-decoration: none;
    color: var(--background);
    text-align: left;
}

#menu-dropdown-user ul li:hover {
    background: var(--primary-color);
    color: var(--background);
    border-radius: 10px;
}

#menu-dropdown-user:hover ul {
    display: block;
}

@media screen and (min-width: 600px) {
    header #header-2 {
        flex-direction: row;
    }

    .top-mobile {
        display: none;
    }

    div#info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        background-color: #000;
    }

    header div#info,
    header div#info a {
        text-decoration: none;
        color: #fff;
    }
    header ul {
        list-style: none;
        display: flex;
        gap: 1rem;
    }

    header #open-modal-attendance {
        cursor: pointer;
    }

    header #modal-attendance {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fefefe;
        color: #000;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
    }

    .modal-content i {
        margin-right: 1rem;
    }

    .modal-title {
        color: var(--primary-color);
        font-weight: bold;
    }

    #modal-close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    #modal-close:hover,
    #modal-close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}

@media (min-width: 992px) {
    header #header-2 > * {
        display: flex;
        align-items: center;
        box-sizing: border-box;
    }

    header #header-2 > *:nth-child(1) {
        flex: 1;
    }

    header #header-2 > *:nth-child(2) {
        flex: 4;
        justify-content: space-around;
    }

    header #header-2 > *:nth-child(1) {
        justify-content: flex-start;
    }

    header #header-2 .search-bag-user > *:nth-child(1) {
        flex: 3;
        justify-content: center;
    }

    header #header-2 .search-bag-user > *:nth-child(2) {
        flex: 1;
    }
}
